<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="main-content">
		<div class="container">
			<h1 class="text-center text-uppercase" th:text="|${name} 날씨 통계|">날씨 통계</h1>
			<br/>
			<br/>
			<div class="row">
				<div class="col-3">
					<div class="stat-card justify-content-around">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">온도</p>
							<h2 th:text="${weather.temp}"></h2>
			
						</div>
						<div class="stat-card__icon stat-card__icon--success">
							<div class="stat-card__icon-circle">
								<i class="fa fa-thermometer-quarter"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="stat-card justify-content-around">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">날씨</p>
							<h2 th:text="${weather.status}">1,254</h2>
				
						</div>
						<div class="stat-card__icon stat-card__icon--success">
							<div class="stat-card__icon-circle">
								<i class="fa fa-cloud"></i>
							</div>
						</div>
					</div>
				</div>
        		<div class="col-3">
					<div class="stat-card justify-content-around">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">습도</p>
							<h2 th:text="${weather.humidity}">1,254</h2>
						</div>
						<div class="stat-card__icon stat-card__icon--primary">
							<div class="stat-card__icon-circle">
								<i class="fa fa-meh-o"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="stat-card justify-content-around">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">바람</p>
							<h2 th:text="${weather.wind_speed}">21,254</h2>
						</div>
						<div class="stat-card__icon stat-card__icon--primary">
							<div class="stat-card__icon-circle">
								<i class="fa-solid fa-wind"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--			<div>-->
<!--				<div class="row justify-content-center">-->
<!--					<div class="col-12 text-center">-->
<!--						<div class="stat-card">-->
<!--							<div id="container" style="width:100%; height:100%;"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
			<div class="row justify-content-center">
				<div class="col-6 text-center">
					<div class="stat-card">
						<!-- <canvas id="line-chart1" width="900" height="500"></canvas> -->
						<div id="temp-line" style="width: 900; height: 500;"></div>
					</div>
				</div>
				<div class="col-6 text-center">
					<div class="stat-card">
						<!-- <canvas id="line-chart2" width="900" height="500"></canvas> -->
						<div id="hum-line" style="width: 900; height: 500;"></div>
					</div>
				</div>
			</div>
			<br/>
			<h1 class="text-center text-uppercase mb-2 mt-2">지역별 비교</h1>
			<br/>
			<div class="row justify-content-center">
				<div class="col-4 text-center">
					<div class="stat-card">
						<!-- <canvas id="tempBar1" width="900" height="700"></canvas> -->
						<div id="temp-rank" style="width: 950; height: 700;"></div>
					</div>
				</div>
				<div class="col-4 text-center">
					<div class="stat-card">
						<!-- <canvas id="tempBar2" width="900" height="700"></canvas> -->
						<div id="wind-rank" style="width: 950; height: 700;"></div>
					</div>
				</div>
				<div class="col-4 text-center">
					<div class="stat-card">
						<!-- <canvas id="tempBar3" width="900" height="700"></canvas> -->
						<div id="hum-rank" style="width: 950; height: 700;"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://kit.fontawesome.com/5eb27093de.js" crossorigin="anonymous"></script>
<script th:inline="javascript">
const tempChart = Highcharts.chart('temp-line', {
	chart: { type: 'line' },
	title: { text: '온도 변화량' },

	xAxis: { categories: [[${temp_object.tempTimeList}]].reverse() },
	yAxis: { title: { text: '온도' } },

	legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth:0 },
	tooltip: {valueSuffix: '도'},

	series: [
		{ name: '', data: [[${temp_object.tempValueList}]].reverse() },
	]
});
const humChart = Highcharts.chart('hum-line', {
	chart: { type: 'line' },
	title: { text: '습도 변화량' },

	xAxis: { categories: [[${hum_object.humTimeList}]].reverse() },
	yAxis: { title: { text: '습도' } },

	legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth:0 },
	tooltip: {valueSuffix: ''},

	series: [
		{ name: '', data: [[${hum_object.humValueList}]].reverse() },
	]
});

const tempRank = Highcharts.chart('temp-rank', {
	chart: { type: 'column' },
	title: { text: '온도 순위' },
	xAxis: { categories: [[${temp_rank.name}]]},
	yAxis: { title: { text: null } },
	tooltip: { valueSuffix: ' 도' },
	legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth:0 },
	series: [{
	  name: '',
	  data: [[${temp_rank.value}]],
	  borderColor: '#5997DE'
	}]
});

const windRank = Highcharts.chart('wind-rank', {
	chart: { type: 'column' },
	title: { text: '바람 순위' },
	xAxis: { categories: [[${wind_rank.name}]]},
	yAxis: { title: { text: null } },
	tooltip: { valueSuffix: '' },
	legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth:0 },
	series: [{
	  name: '',
	  data: [[${wind_rank.value}]],
	  borderColor: '#5997DE'
	}]
});

const humRank = Highcharts.chart('hum-rank', {
	chart: { type: 'column' },
	title: { text: '습도 순위' },
	xAxis: { categories: [[${hum_rank.name}]]},
	yAxis: { title: { text: null } },
	tooltip: { valueSuffix: '' },
	legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth:0 },
	series: [{
	  name: '',
	  data: [[${hum_rank.value}]],
	  borderColor: '#5997DE'
	}]
});

tempRank.reflow();
windRank.reflow();
humRank.reflow();

</script>
</html>