<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
  <section class="main-content">
		<div class="container">
			<h1 class="text-center text-uppercase">날씨 통계</h1>
			<br>
			<br>
			<div class="row">
				<div class="col-3">
					<div class="stat-card justify-content-around">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">온도</p>
							<h2 th:text="${weather.temp}"></h2>
			
						</div>
						<div class="stat-card__icon stat-card__icon--success">
							<div class="stat-card__icon-circle">
								<i class="fa fa-thermometer-quarter"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="stat-card justify-content-around">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">날씨</p>
							<h2 th:text="${weather.status}">1,254</h2>
				
						</div>
						<div class="stat-card__icon stat-card__icon--success">
							<div class="stat-card__icon-circle">
								<i class="fa fa-cloud"></i>
							</div>
						</div>
					</div>
				</div>
        		<div class="col-3">
					<div class="stat-card justify-content-around">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">습도</p>
							<h2 th:text="${weather.humidity}">1,254</h2>
						
						</div>
						<div class="stat-card__icon stat-card__icon--primary">
							<div class="stat-card__icon-circle">
								<i class="fa fa-meh-o"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="stat-card justify-content-around">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">바람</p>
							<h2 th:text="${weather.wind_speed}">21,254</h2>
				
						</div>
						<div class="stat-card__icon stat-card__icon--primary">
							<div class="stat-card__icon-circle">
								<i class="fa-solid fa-wind"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-6 text-center">
					<div class="stat-card">
						<canvas id="line-chart1" width="900" height="500"></canvas>
					</div>
				</div>
				<div class="col-6 text-center">
					<div class="stat-card">
						<canvas id="line-chart2" width="900" height="500"></canvas>
					</div>
				</div>
			</div>
			<br/>
			<h1 class="text-center text-uppercase mb-2 mt-2">지역별 비교</h1>
			<br/>
			<div class="row justify-content-center">
				<div class="col-4 text-center">
					<div class="stat-card">
						<canvas id="tempBar1" width="900" height="700"></canvas>
					</div>
				</div>
				<div class="col-4 text-center">
					<div class="stat-card">
						<canvas id="tempBar2" width="900" height="700"></canvas>
					</div>
				</div>
				<div class="col-4 text-center">
					<div class="stat-card">
						<canvas id="tempBar3" width="900" height="700"></canvas>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>
  	<script src="https://kit.fontawesome.com/5eb27093de.js" crossorigin="anonymous"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		let history_temp = [[${history_temp.value}]];
		let history_temp_time = [[${history_temp.time}]];
		let history_hum = [[${history_hum.value}]];
		let history_hum_time = [[${history_hum.time}]];
		/*]]>*/
		new Chart(document.getElementById("line-chart1"), {
			type: 'line',
			data: {
				labels: history_temp_time,
				datasets: [{ 
					data: history_temp,
					label: "온도",
					borderColor: "#3e95cd",
					fill: false
				}]
			},
			options: {
				title: {
					display: true,
					text: '시간 별 온도 변화'
				}
			}
		});
		new Chart(document.getElementById("line-chart2"), {
			type: 'line',
			data: {
				labels: history_hum_time,
				datasets: [{ 
					data: history_hum,
					label: "습도",
					borderColor: "#3e95cd",
					fill: false
				}]
			},
			options: {
				title: {
					display: true,
					text: '시간 별 습도 변화'
				}
			}
		});
		/*<![CDATA[*/
		let temp_r_r = [[${temp_rank.region}]];
		let temp_r_v = [[${temp_rank.value}]];
		/*]]>*/
		new Chart(document.getElementById("tempBar1"), {
			type: 'bar',
			data: {
				labels: temp_r_r,
				datasets: [{
					label: '지역 온도 비교',
					data: temp_r_v,
					borderColor: "rgba(255, 201, 14, 1)",
					backgroundColor: "rgba(255, 201, 14, 0.5)",
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: '막대 차트 테스트'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
					callbacks: {
						title: function(tooltipItems, data) {
							return data.labels[tooltipItems[0].datasetIndex];
						}
					}
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'x축'
						},
						ticks: {
							autoSkip: false
						}
					}],
					yAxes: [{
						display: true,
						ticks: {
							suggestedMin: 0,
						},
						scaleLabel: {
							display: true,
							labelString: 'y축'
						}
					}]
				}
			}
		});
		/*<![CDATA[*/
		let hum_r_r = [[${hum_rank.region}]];
		let hum_r_v = [[${hum_rank.value}]];
		/*]]>*/
		new Chart(document.getElementById("tempBar2"), {
			type: 'bar',
			data: {
				labels: hum_r_r,
				datasets: [{
					label: '지역 습도 비교',
					data: hum_r_v,
					borderColor: "rgba(255, 201, 14, 1)",
					backgroundColor: "rgba(255, 201, 14, 0.5)",
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: '막대 차트 테스트'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
					callbacks: {
						title: function(tooltipItems, data) {
							return data.labels[tooltipItems[0].datasetIndex];
						}
					}
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'x축'
						},
						ticks: {
							autoSkip: false
						}
					}],
					yAxes: [{
						display: true,
						ticks: {
							suggestedMin: 0,
						},
						scaleLabel: {
							display: true,
							labelString: 'y축'
						}
					}]
				}
			}
		});
		/*<![CDATA[*/
		let win_r_r = [[${wind_rank.region}]];
		let win_r_v = [[${wind_rank.value}]];
		/*]]>*/
		new Chart(document.getElementById("tempBar3"), {
			type: 'bar',
			data: {
				labels: win_r_r,
				datasets: [{
					label: '지역 바람 비교',
					data: win_r_v,
					borderColor: "rgba(255, 201, 14, 1)",
					backgroundColor: "rgba(255, 201, 14, 0.5)",
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: '막대 차트 테스트'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
					callbacks: {
						title: function(tooltipItems, data) {
							return data.labels[tooltipItems[0].datasetIndex];
						}
					}
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'x축'
						},
						ticks: {
							autoSkip: false
						}
					}],
					yAxes: [{
						display: true,
						ticks: {
							suggestedMin: 0,
						},
						scaleLabel: {
							display: true,
							labelString: 'y축'
						}
					}]
				}
			}
		});
	</script>
</body>
</html>