<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
  <section class="main-content">
		<div class="container">
			<h1 class="text-center text-uppercase">Analytics and Statistics Card</h1>
			<br>
			<br>
			<div class="row">
				<div class="col-sm-4 offset-sm-2">
					<div class="stat-card">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">Revenue</p>
							<h2><i class="fa fa-dollar"></i> 1,254</h2>
							<div>
								<span class="text-success font-weight-bold mr-1"><i class="fa fa-arrow-up"></i> +5%</span> 
								<span class="text-muted">vs last 28 days</span>
							</div>
						</div>
						<div class="stat-card__icon stat-card__icon--success">
							<div class="stat-card__icon-circle">
								<i class="fa fa-suitcase"></i>
							</div>
						</div>
					</div>
				</div>
        <div class="col-sm-4 offset-sm-2">
					<div class="stat-card">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">Revenue</p>
							<h2><i class="fa fa-dollar"></i> 1,254</h2>
							<div>
								<span class="text-success font-weight-bold mr-1"><i class="fa fa-arrow-up"></i> +5%</span> 
								<span class="text-muted">vs last 28 days</span>
							</div>
						</div>
						<div class="stat-card__icon stat-card__icon--success">
							<div class="stat-card__icon-circle">
								<i class="fa fa-suitcase"></i>
							</div>
						</div>
					</div>
				</div>
        <div class="col-sm-4 offset-sm-2">
					<div class="stat-card">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">Revenue</p>
							<h2><i class="fa fa-dollar"></i> 1,254</h2>
							<div>
								<span class="text-success font-weight-bold mr-1"><i class="fa fa-arrow-up"></i> +5%</span> 
								<span class="text-muted">vs last 28 days</span>
							</div>
						</div>
						<div class="stat-card__icon stat-card__icon--success">
							<div class="stat-card__icon-circle">
								<i class="fa fa-suitcase"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="stat-card">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">Users</p>
							<h2>21,254</h2>
							<div>
								<span class="text-danger font-weight-bold mr-1"><i class="fa fa-arrow-down"></i> -5%</span> 
								<span class="text-muted">vs last 28 days</span>
							</div>
						</div>
						<div class="stat-card__icon stat-card__icon--primary">
							<div class="stat-card__icon-circle">
								<i class="fa fa-users"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>