<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>koreaMap</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="container my-fade-in">
            <div class="row">
                <div class="col-7 align-self-center text-center">
                    <h1 class="title">지역별 <span class="title" style="color: #536dfe">날씨 정보</span>를 한눈에!</h1>
                    <p class="desc mt-4">
                        본 프로젝트는 파이썬 빅데이터 수집과목의 기말과제로 시작되었습니다<br/>
                        <strong>오른쪽에서 원하시는 지역을 누르시면 </strong>실시간 날씨 정보를 볼 수 있습니다<br/>
                        날씨 정보와 누적된 데이터를 기반으로 지역별 날씨를 비교합니다.
                    </p>
                </div>
                <div class="col-5 korea">
                    <object type="image/svg+xml" data="/img/southKoreaHigh.svg" class="object"></object>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
